{% extends 'base/base_header.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block add_css_base_content %}
    <link rel="stylesheet" href="{% static 'css/base/base_content.css' %}">
{% endblock %}

{% block content_block_1 %}
    <div class="content-block-1">

    </div>
{% endblock %}

{% block content_block_2 %}
    <div class="content-block-2">
        <div class="filter-bar">
            {% block filter_content_block_1 %}{% endblock %}
        </div>
        <div class="content-item-grid">
            {% block items_content_block_1 %}{% endblock %}
            {% block items_content_block_2 %}{% endblock %}
        </div>
    </div>


{% endblock %}

{% block content_block_3 %}
    <div class="content-block-3">
        <div class="auth-content-block">
            {% block auth_content_block_1 %}{% endblock %}
            {% block auth_content_block_2 %}{% endblock %}
        </div>
    </div>
{% endblock %}
