<!-- app/templates/base/base.html -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}StarryShop{% endblock %}</title>

        <!-- Базовые стили -->
        <link rel="stylesheet" href="{% static 'css/base/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/base/base.css' %}">

        <!-- Уникальные стили для каждой страницы -->
        {% block add_css_base_header %}{% endblock %}
        {% block add_css_base_form_content %}{% endblock %}
        {% block add_css_base_content %}{% endblock %}
        {% block add_css_filter_bar_content %}{% endblock %}
        {% block add_css_items_content %}{% endblock %}
        {% block add_css_sidebar_content %}{% endblock %}
        {% block add_css_user_cart_content %}{% endblock %}
        {% block add_css_user_profile_content %}{% endblock %}
        {% block add_css_auth_content %}{% endblock %}
        {% block extra_css %}{% endblock %}
    </head>
	<body>
		<header>
            {% block header_block_1 %}{% endblock %}
            {% block header_block_2 %}{% endblock %}
            {% block header_block_3 %}{% endblock %}
        </header>
	    <main>
            {% block content_top %}
                <div class="content-top">
                    {% block content_block_0 %}{% endblock %}
                </div>
            {% endblock %}
        
	        {% block content %}
                <div class="content">
                    {% block content_block_1 %}{% endblock %}
                    {% block content_block_2 %}{% endblock %}
                    {% block content_block_3 %}{% endblock %}
                </div>
	        {% endblock %}
	    </main>
	    <footer>
            <p>&copy; 2024 My Django MVVM Shop App <br><br>&copy; Creator24 - «VSDragon1239»</p>
	    </footer>
	</body>
</html>