<!-- app/templates/index.html -->
{% extends 'content/items_content.html' %}
{% load static %}

{% block title %}Поиск{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/item_search.css' %}">
{% endblock %}

{#{% block filter_content_block_1 %}{% endblock %}#}

{#{% block items_content_block_1 %}{% endblock %}#}
{#{% block items_content_block_2 %}{% endblock %}#}

{#{% block header_block_2 %}{% endblock %}#}
{% block header_block_3 %}{% endblock %}


{% block content_top %}{% endblock %}

{% block content_block_3 %}{% endblock %}
{#{% block sidebar_content_block_1 %}{% endblock %}#}

