{% extends 'base/base_content.html' %}
{% load static %}

{% block add_css_user_profile_content %}
    <link rel="stylesheet" href="{% static 'css/content/user_cart_content.css' %}">
{% endblock %}

{% block content_block_1 %}{% endblock %}

{% block user_cart_content_block %}
    <div class="user_cart_content">
        <h1 class="cart-item-back-color cart-title">Ваша корзина</h1>
{#                    {% if items %}#}
        <ul class="cart-items">
            {% for item in items %}
                <li class="cart-item-back-color-black cart-item">
{#                    <label class="cart-item-back-color">#}
{#                        <input type="checkbox" class="cart-item-checkbox">#}
{#                    </label>#}
                    <a href="{% url 'product' pk=item.product.category.id pk2=item.product.id %}" class="cart-item-link">
                        <div class="item-image">
                            <img src="/media/{{ item.product.image }}" alt="{{ item.product.name }}">
                        </div>
                        <div class="cart-item-details">
                            <span class="cart-item-name" style="pointer-events: none;">{{ item.product.name }}</span>
                            <p class="cart-item-info" style="pointer-events: none;">{{ item.product.descriptions|truncatechars:50 }}</p>
                            <p class="cart-item-delivery-date" style="pointer-events: none;">Предположительная дата
                                доставки: {{ item.product.delivery_date }}</p>
                        </div>
                    </a>
                    <div class="cart-item-back-color cart-item-price">
                        <span class="price original-price">{{ item.product.price }} ₽</span>
{#                        <span class="price discount-price">{{ item.product.discount_price }} ₽</span>#}
                    </div>
                    <div class="cart-item-back-color cart-item-quantity">
                        <a class="base-link quantity-button quantity-decrease">-</a>
                        <label class="cart-item-back-color">
                            <input readonly type="number" value="{{ item.quantity }}" min="1" class="quantity-input">
                        </label>
                        <a href="#" class="base-link quantity-button quantity-increase">+</a>
                    </div>
                    <div class="cart-item-back-color item-actions">
                        <form class="base-link delete-item" method="post" action="{% url 'remove_user_cart' item.id %}">
                            {% csrf_token %}
                            <button type="submit" class="base-link btn-add-to-cart">🗑️</button>
                        </form>
{#                        <a href="{% url 'test' %}" class="base-link save-for-later">💾</a>#}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block sidebar_content_block_2 %}
    <div class="sidebar-content-block-2">
        <div class="cart-summary">
            <p class="cart-total">Общая стоимость: <span class="cart-total-price">{{ total_price }} ₽</span></p>
            <a href="{% url 'test' %}" class="checkout-button">Перейти к оформлению</a><br>
            <label class="cart-agreement">
                <input type="checkbox" checked> Соглашаюсь с правилами пользования торговой площадкой и возврата
            </label>
        </div>
    </div>
{% endblock %}